$prefix-rb-table: rb-table;
$rb-table-cell-border-color: #e8e8e8;
$rb-table-scroll-bar-color: #bfbfbf;
$rb-table-scroll-bar-color-hover: darken($rb-table-scroll-bar-color, 25%);
$rb-table-scroll-bar-background: #f9f9f9;
$rb-table-scroll-bar-width: 14px;
$rb-table-scroll-bar-padding: 3px;
$rb-table-background: #FFF;
$rb-table-color: #333;
$rb-table-row-hover-background: lighten($rb-table-scroll-bar-color, 23%);
.#{prefix-rb-table} {
  overflow: hidden;
  position: relative;
  background: $rb-table-background;
  color: $rb-table-color;
  box-sizing: border-box;
  border: 1px solid $rb-table-cell-border-color;
  touch-action: none!important;
  table {
    width: 100%;
    border-spacing: 0;
    font-size: 12px;
    table-layout: fixed;
    border: none;
    word-break: break-all;
  }
  &-scrollx {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 99999px;
    touch-action: none!important;
  }
  &__body {
    overflow-y: scroll;
    overflow-x: hidden;
    touch-action: none!important;
    box-sizing: border-box;
    // padding-right: 300px;
    .#{prefix-rb-table}-hidden-layout {
      position: fixed;
      visibility: hidden;
      top: 1000000px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      table-layout: auto;
    }
  }
  &-fixed {
    overflow: hidden;
    position: absolute;
    top: 0;
    background: $rb-table-background;
    table {
      width: auto;
    }
    &__body {
      overflow: hidden;
    }
    &--left {
      left: 0;
      border-right: 1px solid $rb-table-cell-border-color;
    }
    &--right {
      right: 0;
      border: 1px solid $rb-table-cell-border-color;
      border-width: 0 1px;
    }
  }
  &-row {
    &--hover {
      background-color: $rb-table-row-hover-background;
    }
    &--clickable {
      cursor: pointer;
    }
  }
  &-cell {
    padding: 14px 10px;
    border-bottom: 1px solid $rb-table-cell-border-color;
    font-size: 12px;
  }
  &__hscroll {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    right: $rb-table-scroll-bar-width;
    background: $rb-table-scroll-bar-background;
    height: $rb-table-scroll-bar-width;
    z-index: 1;
    &__bar {
      padding: $rb-table-scroll-bar-padding 0;
      height: 100%;
      box-sizing: border-box;
      touch-action: none!important;
      &:before {
        content: '';
        display: block;
        background: $rb-table-scroll-bar-color;
        border-radius: $rb-table-scroll-bar-width;
        height: 100%;
        width: 100%;
      }
      &:hover:before {
        background: $rb-table-scroll-bar-color-hover;
      }
    }
  }
  &__vscroll {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    background: $rb-table-scroll-bar-background;
    top: 0;
    bottom: $rb-table-scroll-bar-padding;
    right: 0;
    width: $rb-table-scroll-bar-width;
    z-index: 1;
    &__bar {
      padding: 0 $rb-table-scroll-bar-padding;
      touch-action: none!important;
      &:before {
        content: '';
        display: block;
        background: $rb-table-scroll-bar-color;
        border-radius: $rb-table-scroll-bar-width;
        height: 100%;
        width: 100%;
      }
      &:hover:before {
        background: $rb-table-scroll-bar-color-hover;
      }
    }
  }
}

.rb-table-fixed--left,
.rb-table-scrollx {
  .rb-table-cell {
    &:first-child {
      padding-left: 30px;
    }
  }
}

.rb-table-fixed--right,
.rb-table-scrollx {
  .rb-table-cell {
    &:last-child {
      padding-right: 30px;
    }
  }
}